target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/
gs-client-side-load-balancing/.idea/
gs-client-side-load-balancing/complete/say-hello/target/
gs-client-side-load-balancing/complete/user/target/
.git/
